@font-face {
  font-family: "NetflixSans-Bold";
  src: url("./assets/fonts/netflixSans/NetflixSans-Bold.otf") format("opentype");
  src: url("./assets/fonts/netflixSans/NetflixSans-Bold.woff2") format("woff")
  }
@font-face {
  font-family: "NetflixSans-Light";
  src: url("./assets/fonts/netflixSans/NetflixSans-Light.otf") format("opentype");
  src: url("./assets/fonts/netflixSans/NetflixSans-Light.woff2") format("woff")
}
@font-face {
  font-family: "NetflixSans-Medium";
  src: url("./assets/fonts/netflixSans/NetflixSans-Medium.otf") format("opentype");
  src: url("./assets/fonts/netflixSans/NetflixSans-Medium.woff2") format("woff")
}
@font-face {
  font-family: "NetflixSans-Regular";
  src: url("./assets/fonts/netflixSans/NetflixSans-Regular.otf") format("opentype");
  src: url("./assets/fonts/netflixSans/NetflixSans-Regular.woff2") format("woff")
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
